@font-face {
  font-family: 'FrederickatheGreat-Regular';
  src: url('/path-to/FrederickatheGreat-Regular.woff2') format('woff2'),
       url('/path-to/FrederickatheGreat-Regular.woff') format('woff'),
       url('/path-to/FrederickatheGreat-Regular.ttf')  format('truetype');
}

body {
  font-family: 'FrederickatheGreat-Regular', sans-serif;
}
